<div class="wrapper">
  <!-- header -->
  <!-- ============================================================== -->
  <app-header></app-header>
  <!-- ============================================================== -->
  <!-- End header -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <router-outlet></router-outlet>
  <!-- ============================================================== -->
  <!-- End Start Page Content -->
  <!-- footer -->
  <!-- ============================================================== -->
  <app-footer></app-footer>
  <!-- ============================================================== -->
  <!-- End footer -->
</div>
