.main-market{
    background: url("../../../assets//img/bg.jpg") no-repeat top;
    background-color: #1a212f;
    background-size: 130%;
}

.main-market .main-header{
    text-align:center; 
    padding: 38px 2px;
    color:#ffffff;
}

.main-market .main-header .heading-1{
    font-family:inherit;
    margin-top:38px; 
    font-size:1.49975rem;
    font-weight: 400;
}

.table .main-row-head{
    margin:10px 0px;
    color:#fff; 
    padding: 8px 8px 8px 20px;
    background-color: #42506d;
}

.main-market .main-header .heading-2{
    margin-top:38px;
    font-size:1.2rem;
    font-weight: 400;
    font-family: inherit;
}

.main-market-search{
    color:#d8d8d8;
    padding:38px 0;
}

.main-market-search-input{
    padding:6px 12px;
    margin: 0px 9.5px;
    width:50px;
}

.main-market-search-buttton{
    padding:6px 12px;
    margin: 0px 9.5px;
}

.consume-btn{
    margin:38px 0px 57px; 
    font-size:20px; 
    padding:0 38px; 
    line-height:57px;
    font-weight: 600;
}

.table .signal-icon{
    padding: 0 5px;
    font-size:14px; 
    color:#d8d8d8;
}

.market_table{
    color: #d8d8d8;;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}

.market_table tr{
    margin: 0;
    padding-left: 20px;
    width:100%;
}

.market_table td{
    padding:10px;
}

.hidden {
    display: none
}

.width-25{
    width:25%;
}

.pr-10{
    padding-right: 10px;
}

.main-marketdata-about{
    padding-top:10px; 
    padding-bottom:20px
}

.main-about-total{
    margin-left: 6%; 
    padding:10px 10px 10px 30px;
}