<div class=" main-market">
    <div class="container">
        <div class="main-header">
            <h1 class="heading-1">Real-time Cryptocurrency Exchange Rates by Market Capitalization</h1>
            <h2 class="heading-2">Check aggregated crypto price data for for the top 50, including Bitcoin & Ethereum</h2>
            <a href="#" class="consume-btn btn btn-primary main-btn">Consume via API</a>
        </div>
        <table class="table main-table table-responsive table-borderless market_table">
               <thead></thead>
               <tbody>
                <tr style="background-color: #42506d;margin:10px 0px; color:#fff; padding: 8px 8px 8px 20px;" class="d-flex justify-content-between align-items-center">
                    <td class="td-m-10" style="width:6%;"></td>
                    <td  style="width:9%;" class="d-flex flex-row align-items-center justify-content-start">
                        <div>CRYPTO</div>
                        <i class="fas fa-sort signal-icon"></i>
                    </td>
                    <td  style="width:8%;" class="d-flex flex-row align-items-center justify-content-start">
                        <div>LAST</div>
                        <i class="fas fa-sort signal-icon"></i>
                    </td>
                    <td  style="width:8%;" class="d-flex flex-row align-items-center justify-content-start">
                        <div>BID</div>
                        <i class="fas fa-sort signal-icon"></i>
                    </td>
                    <td  style="width:9%;" class="d-flex flex-row align-items-center justify-content-start">
                        <div>ASK</div>
                        <i class="fas fa-sort signal-icon"></i>
                    </td>
                    <td  style="width:9%;" class="d-flex flex-row align-items-center justify-content-start">
                        <div>HIGH</div>
                        <i class="fas fa-sort signal-icon"></i>
                    </td>
                    <td  style="width:9%;" class="d-flex flex-row align-items-center justify-content-start">
                        <div>LOW</div>
                        <i class="fas fa-sort signal-icon"></i>
                    </td>
                    <td  style="width:16%;" class="d-flex flex-row align-items-center justify-content-start">
                        <div>MKTCAP</div>
                        <i class="fas fa-sort signal-icon"></i>
                    </td>
                    <td  style="width:16%;" class="d-flex flex-row align-items-center justify-content-start">
                        <div>VOL</div>
                        <i class="fas fa-sort signal-icon"></i>
                    </td>
                    <td  style="width:4%;" class="d-flex flex-row align-items-center justify-content-start">
                        <div>CHANGE</div>
                        <i class="fas fa-sort signal-icon"></i>
                    </td>
                    <td style="width:2%;"></td>
                    <td style="width:3%;"><i class="fas fa-plus"></i></td>
                </tr>
            <div *ngFor="let marketData of marketData ; let i = index">
                <tr *ngIf="i%2==0" style="background-color: #42506d; width: 1296px !important" (click)="toggleIcon(i)" class="d-flex justify-content-between align-items-center" data-toggle="collapse" [attr.data-target]="'#'+ marketData.id">
                    <td class="crypto-logo" style="width:6%;"><img alt="crypto" class="tab-curr-icon" style="vertical-align:middle" [src]="marketData.image"></td>
                    <td class="crypto-name" style="width:9%;"><b>{{marketData.crpto}}</b></td>
                    <td style="width:8%;">{{marketData.last}}</td>
                    <td style="width:8%;">{{marketData.bid}}</td>
                    <td style="width:9%;">{{marketData.ask}}</td>
                    <td style="width:9%;">{{marketData.high}}</td>
                    <td style="width:9%;">{{marketData.low}}</td>
                    <td style="width:16%;">{{marketData.mktcap}}</td>
                    <td style="width:16%;">{{marketData.vol}}</td>
                    <td style="width:4%;">{{marketData.change}}</td>
                    <td style="width:2%;"><i style="font-size:12px" class="fas fa-signal"></i></td>
                    <td style="width:3%;"><i class="fas fa-plus" [attr.id]="'abc'+i" (click)="toggleIcon(i)"></i><i [attr.id]="'abcd'+i" (click)="toggleIcon(i)" class="fas fa-minus hidden"></i> </td>
                </tr>
                <div *ngIf="i%2==0" style="background-color: #42506d;" class="collapse out" [attr.id]="marketData.id">
                   <div style="margin-left: 6%; padding:10px 10px 10px 30px" class="d-flex flex-column" > 
                      <div style="padding-top:10px; padding-bottom:20px">{{marketData.about}}</div>
                      <div class="d-flex flex-row justify-content-start align-items-center">
                        <div class="d-flex flex-row width-25">
                            <div style="padding-right:10px">
                                <img src="assets/img/coins.svg" class="param-icon" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <div> {{marketData.total}}</div>
                                <div>Total {{marketData.crpto}}s</div>
                            </div>
                        </div>
                        <div class="d-flex flex-row width-25">
                            <div style="padding-right:10px">
                                <img src="assets/img/business.svg" class="param-icon" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <div>{{marketData.mktcap}}</div>
                                <div>Market Capitalization</div>
                            </div>
                        </div>
                        <div></div>
                      </div>
                   </div>
                </div>
                <tr *ngIf="i%2!=0" style="background-color: #323e54;" (click)="toggleIcon(i)" class="d-flex justify-content-between align-items-center" data-toggle="collapse" [attr.data-target]="'#'+ marketData.id">
                    <td class="crypto-logo" style="width:6%;"><img alt="crypto" class="tab-curr-icon" style="vertical-align:middle" [src]="marketData.image"></td>
                    <td class="crypto-name" style="width:9%;"><b>{{marketData.crpto}}</b></td>
                    <td style="width:8%;">{{marketData.last}}</td>
                    <td style="width:8%;">{{marketData.bid}}</td>
                    <td style="width:9%;">{{marketData.ask}}</td>
                    <td style="width:9%;">{{marketData.high}}</td>
                    <td style="width:9%;">{{marketData.low}}</td>
                    <td style="width:16%;">{{marketData.mktcap}}</td>
                    <td style="width:16%;">{{marketData.vol}}</td>
                    <td style="width:4%;">{{marketData.change}}</td>
                    <td style="width:2%;"><i style="font-size:12px" class="fas fa-signal"></i></td>
                    <td style="width:3%;"><i class="fas fa-plus" [attr.id]="'abc'+i" (click)="toggleIcon(i)"></i><i [attr.id]="'abcd'+i" (click)="toggleIcon(i)" class="fas fa-minus hidden"></i> </td>
                </tr>
                <div *ngIf="i%2!=0"  style="background-color: #323e54;" class="collapse out" [attr.id]="marketData.id">
                    <div style="margin-left: 6%; padding:10px 10px 10px 30px" class="d-flex flex-column" > 
                        <div style="padding-top:10px; padding-bottom:20px">{{marketData.about}}</div>
                        <div class="d-flex flex-row justify-content-start align-items-center">
                          <div class="d-flex flex-row width-25">
                              <div style="padding-right:10px">
                                  <img src="assets/img/coins.svg" class="param-icon" alt="">
                              </div>
                              <div class="d-flex flex-column">
                                  <div> {{marketData.total}}</div>
                                  <div>Total {{marketData.crpto}}s</div>
                              </div>
                          </div>
                          <div class="d-flex flex-row width-25">
                              <div style="padding-right:10px">
                                  <img src="assets/img/business.svg" class="param-icon" alt="">
                              </div>
                              <div class="d-flex flex-column">
                                  <div>{{marketData.mktcap}}</div>
                                  <div>Market Capitalization</div>
                              </div>
                          </div>
                          <div></div>
                        </div>
                     </div>
                </div>
            </div>
            </tbody>
        </table>
        <div style="color:#d8d8d8; padding:38px 0" class="d-flex flex-row justify-content-center align-items-center text-center">
            <span>Load</span>
            <input value="50" style="padding:6px 12px;margin: 0px 9.5px; width:50px" type="text" class="form-control">
            <span>currencies</span>
            <button style="padding:6px 12px;margin: 0px 9.5px;" type="button" class="btn btn-primary table-lenght-btn">Go</button>
        </div>
    </div>    
</div>