footer {
    background: #1a2130 none repeat scroll 0 0;
}

.footer-menu-section{
  color:#a6a8ab;
}

.footer-menu-section .real-time{
  margin: 30px 0px;
  text-align: center;
  font-size:14px;
}

.fa-paper-plane{
  color: #4a90e2;
}

.footer-copyright-main{
  font-size:14px;
  width:66.66%;
  margin-left: 16.66%;
}

.footer-copyright-main-head{
  padding: 20px 0px;
}

.footer-section-links a{
  margin-right: 25px;
  text-decoration: none;
  font-size: 14px;
}

.footer-menu-section li{
  margin-bottom: 13px;
}

.form-control-use{
  width: 80%;
  padding: 12px 40px 12px 10px;
  font-size:14px;
  border-radius: 5px;
}

footer {
    background-color: #1a212f;
    padding: 57px 0 0
  }
  
  footer h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 15px
  }
  
  footer input.form-control, footer input.form-control:active, footer input.form-control:focus {
    background-color: #373f50;
    border: 0;
    color: #fff
  }
  
  footer a {
    color: #a6a8ab;
  }
  
  footer .footer-menu-section {
    padding-bottom: 38px
  }
  
  footer .social-links .nav-item {
    margin-right: 9.5px
  }
  
  footer .social-links .nav-link {
    border-radius: 50%;
    color: #a6a8ab;
    height: 22.8px;
    line-height: 22.8px;
    padding: 0;
    text-align: center;
    width: 22.8px
  }
  
  footer .social-links .nav-link:hover {
    color: #4a90e2
  }
  
  footer .social-links i {
    font-size: .875rem;
    vertical-align: middle
  }
  
  footer .footer-menu .nav-link {
    font-size: 14px;
    line-height: 18px;
    padding: 0
  }
  
  footer .sign-up-text {
    font-weight: 700
  }
  
  footer .copyright-section {
    background-color: #373f50;
    font-size: .75075rem;
    min-height: 57px;
    padding: 19px 0;
    text-align: center
  }
  
  footer .copyright-section a {
    text-decoration: underline
  }
  
  footer .copyright-section .font-weight-bold {
    color: #fff
  }
  
  .social-links {
    justify-content: center;
  }
