<footer >
    <section class="footer-menu-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-2 footer-ipad">
            <a href="#">
              <div class="text-center">
                <img src="../../../assets/img/footer-logo.png" alt="bitcoinaverage"/>
              </div>
            </a>
            <p class="real-time" >Real-time digital asset data
            </p>
            <ul class="nav social-links">
              <li class="nav-item">
                <a class="nav-link" href="mailto:info@bitcoinaverage.com" target="_blank">
                  <i class="fas fa-envelope"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/BitcoinAverage" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/BitcoinAverage/" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 middle-about-section">
            <div class="text-center hidden-very-small">
              <a target="_blank" ui-sref="app.faq" href="https://bitcoinaverage.com/en/faq">About</a>
              <a target="_blank" ui-sref="app.terms" href="https://bitcoinaverage.com/en/terms">Terms</a>
              <a target="_blank" ui-sref="app.privacypolicy" href="https://bitcoinaverage.com/en/privacypolicy">Policy</a>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 footer-item-align-center footer-ipad">
            <div (click)="toggleClass(1)">
            <h3>Global Price</h3>
            </div>
            <div id="collapse-footer-data-1"  class="hidden-footer-data">
            <ul class="nav flex-column footer-menu">
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/exchanges" target="_blank">Real time data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/comparisons" target="_blank">Digital Assets Comparisons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/widgets/price" target="_blank">BTC Price widget for websites</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/widgets/price" target="_blank">BTC Conversion widget for websites</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/faq#why-should-i-use" target="_blank">LTC & ETH Support via API</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/transaction-calculator" target="_blank">Bitcoin Transaction Price Calculator</a>
              </li>
            </ul>
            </div>
          </div>
          <div class="col-xs-6 col-md-2 footer-item-align-center footer-ipad">
            <div (click)="toggleClass(2)">
            <h3>Bitcoin Price API</h3>
            </div>
            <div id="collapse-footer-data-2" class="hidden-footer-data">
            <ul class="nav flex-column footer-menu">
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/currency-markets" target="_blank">Currency Markets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/plans" target="_blank">Unlimited API Requests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/blog/bitcoin-price-report-01-11-2016" target="_blank">Bitcoin Price Report 2016</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/currency-markets" target="_blank">Average Bitcoin Price</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://apiv2.bitcoinaverage.com" target="_blank">API documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Statistics</a>
              </li>
            </ul>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 footer-item-align-center footer-ipad">
            <div (click)="toggleClass(3)">
            <h3>Custom Index Generation </h3>
            </div>
           <div id="collapse-footer-data-3" class="hidden-footer-data">
            <ul class="nav flex-column footer-menu">
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/exchanges" target="_blank">Exchanges</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/methodology" target="_blank">Global Bitcoin Price Index (GBX)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://apiv2.bitcoinaverage.com/#weighting" target="_blank">Customized exchange weighting</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/api-collections" target="_blank">Collections</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://apiv2.bitcoinaverage.com" target="_blank">Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bitcoinaverage.com/en/faq#what-exchanges" target="_blank">Supported Currencies</a>
              </li>
            </ul>
           </div>
          </div>
          <div class="col-xs-offset-3 col-xs-6 col-md-offset-0 col-md-2 footer-ipad-2">
            <h3 class="footer-item-align-center">Sign Up For Our Newsletter</h3>
            <form class="form" action="">
              <div class="form-input newslater-div d-flex flex-row" >
                <input placeholder="Email address" class="form-control-use" type="email">
                <button class="newsletter-btn" type="submit"><i class="fas fa-paper-plane"></i></button>
              </div>
            </form>
          </div>
        </div>
        <div class="row ptb-20 footer-copyright-main-head">
          <div class="footer-copyright-main col-md-8  col-md-offset-2">
            <div class="footer-copyright text-center">
              <p>BitcoinAverage, the blockchain's premier source of historical bitcoin price data.
                <br>Blockchain Data LTD © 2012-2021</p>
            </div>
          </div>
          <div class="col-md-2 hidden-footer-data text-center-about ">
            <div class="footer-section-links text-center hidden-very-small">
              <a target="_blank" ui-sref="app.faq" href="https://bitcoinaverage.com/en/faq">About</a>
              <a target="_blank" ui-sref="app.terms" href="https://bitcoinaverage.com/en/terms">Terms</a>
              <a target="_blank" ui-sref="app.privacypolicy" href="https://bitcoinaverage.com/en/privacypolicy">Policy</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </footer>
  